unpackaged/main/default/flows/Add_MSA_Contract_record_on_Opportunity_from_Account_OR_Hierarchy_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_for_Parent_Account_1</name>
        <label>Check for Parent Account 1</label>
        <locationX>897</locationX>
        <locationY>729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Hierarchy_1_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount1</targetReference>
            </connector>
            <label>Parent Hierarchy 1 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Parent_Account_2</name>
        <label>Check for Parent Account 2</label>
        <locationX>564</locationX>
        <locationY>858</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Hierarchy_2_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount1.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount2</targetReference>
            </connector>
            <label>Parent Hierarchy 2 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Parent_Account_3</name>
        <label>Check for Parent Account 3</label>
        <locationX>962</locationX>
        <locationY>1363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Hierarchy_3_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount2.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount3</targetReference>
            </connector>
            <label>Parent Hierarchy 3 is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Parent_Account_4</name>
        <label>Check for Parent Account 4</label>
        <locationX>1</locationX>
        <locationY>1508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Hierarchy_4_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount3.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount4</targetReference>
            </connector>
            <label>Parent Hierarchy 4 is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_1_Exist</name>
        <label>Check MSA 1 Exist</label>
        <locationX>274</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Check_for_Parent_Account_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_1_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_MSA_Contract_Valid_0</targetReference>
            </connector>
            <label>MSA Contract 1 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_2_Exist</name>
        <label>Check MSA 2 Exist</label>
        <locationX>1033</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>Check_for_Parent_Account_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_2_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_MSA_Contract_Valid_0_0</targetReference>
            </connector>
            <label>MSA Contract 2 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_3_Exist</name>
        <label>Check MSA 3 Exist</label>
        <locationX>113</locationX>
        <locationY>1394</locationY>
        <defaultConnector>
            <targetReference>Check_for_Parent_Account_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_3_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_MSA_Contract_Valid_0_0_0</targetReference>
            </connector>
            <label>MSA Contract 3 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_4_Exist</name>
        <label>Check MSA 4 Exist</label>
        <locationX>461</locationX>
        <locationY>1731</locationY>
        <defaultConnector>
            <targetReference>getAccount5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_4_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_MSA_Contract_Valid_0_0_0_0</targetReference>
            </connector>
            <label>MSA Contract 4 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_5_Exist</name>
        <label>Check MSA 5 Exist</label>
        <locationX>49</locationX>
        <locationY>2116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_5_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_MSA_Contract_Valid_0_0_0_0_0</targetReference>
            </connector>
            <label>MSA Contract 5 is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSA_Exis</name>
        <label>Check MSA Exis</label>
        <locationX>733</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Check_for_Parent_Account_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMSAContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_MSA_Contract_Valid</targetReference>
            </connector>
            <label>MSA Contract  is available ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSA_Contract_Valid</name>
        <label>Is MSA Contract Valid</label>
        <locationX>909</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_Expired_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMSAContract.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Parent_Account_1</targetReference>
            </connector>
            <label>MSA Contract is Expired/Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSA_Contract_Valid_0</name>
        <label>Is MSA Contract Valid</label>
        <locationX>278</locationX>
        <locationY>939</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_Expired_Not_Available_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact1.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Parent_Account_2</targetReference>
            </connector>
            <label>MSA Contract is Expired/Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSA_Contract_Valid_0_0</name>
        <label>Is MSA Contract Valid</label>
        <locationX>823</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_Record_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_Expired_Not_Available_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact2.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Parent_Account_3</targetReference>
            </connector>
            <label>MSA Contract is Expired/Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSA_Contract_Valid_0_0_0</name>
        <label>Is MSA Contract Valid</label>
        <locationX>336</locationX>
        <locationY>1606</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_Record_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_Expired_Not_Available_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact3.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Parent_Account_4</targetReference>
            </connector>
            <label>MSA Contract is Expired/Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSA_Contract_Valid_0_0_0_0</name>
        <label>Is MSA Contract Valid</label>
        <locationX>698</locationX>
        <locationY>1753</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_Record_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_Expired_Not_Available_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact4.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount5</targetReference>
            </connector>
            <label>MSA Contract is Expired/Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSA_Contract_Valid_0_0_0_0_0</name>
        <label>Is MSA Contract Valid</label>
        <locationX>50</locationX>
        <locationY>2350</locationY>
        <defaultConnector>
            <targetReference>Update_MSA_Contract_Record_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Contract_is_Expired_Not_Available_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMSAContact5.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>MSA Contract is Expired/Not Available</label>
        </rules>
    </decisions>
    <interviewLabel>Add MSA Contract record on Opportunity from Account OR Hierarchy Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add MSA Contract record on Opportunity from Account OR Hierarchy Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>288</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMSAContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount1</name>
        <label>getAccount1</label>
        <locationX>543</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMSAContact1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount2</name>
        <label>getAccount2</label>
        <locationX>570</locationX>
        <locationY>1054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMSAContact2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount1.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount3</name>
        <label>getAccount3</label>
        <locationX>646</locationX>
        <locationY>1352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMSAContact3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount2.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount4</name>
        <label>getAccount4</label>
        <locationX>16</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMSAContact4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount3.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount5</name>
        <label>getAccount5</label>
        <locationX>347</locationX>
        <locationY>2009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMSAContact5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount4.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMSAContact1</name>
        <label>GetMSAContact1</label>
        <locationX>283</locationX>
        <locationY>604</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_1_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMSAContact2</name>
        <label>GetMSAContact2</label>
        <locationX>831</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_2_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMSAContact3</name>
        <label>GetMSAContact3</label>
        <locationX>363</locationX>
        <locationY>1352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_3_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount3.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMSAContact4</name>
        <label>GetMSAContact4</label>
        <locationX>300</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_4_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount4.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMSAContact5</name>
        <label>GetMSAContact5</label>
        <locationX>56</locationX>
        <locationY>1916</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_5_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount5.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMSAContract</name>
        <label>getMSAContract</label>
        <locationX>539</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSA_Exis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MSA_Contract_Record</name>
        <label>Update MSA Contract Record</label>
        <locationX>1180</locationX>
        <locationY>419</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>getMSAContract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_Record_0</name>
        <label>Update MSA Contract Record</label>
        <locationX>16</locationX>
        <locationY>843</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>GetMSAContact1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_Record_0_0</name>
        <label>Update MSA Contract Record</label>
        <locationX>1103</locationX>
        <locationY>1134</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>GetMSAContact2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_Record_0_0_0</name>
        <label>Update MSA Contract Record</label>
        <locationX>741</locationX>
        <locationY>1562</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>GetMSAContact3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_Record_0_0_0_0</name>
        <label>Update MSA Contract Record</label>
        <locationX>1012</locationX>
        <locationY>1740</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>GetMSAContact4.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSA_Contract_Record_0_0_0_0_0</name>
        <label>Update MSA Contract Record</label>
        <locationX>474</locationX>
        <locationY>2267</locationY>
        <inputAssignments>
            <field>MSA_Contract__c</field>
            <value>
                <elementReference>GetMSAContact5.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
