unpackaged/main/default/flows/Contracted_Pricing_for_all_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddProductRectoList</name>
        <label>AddProductRectoList</label>
        <locationX>927</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>productList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>product2record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pricebookentryLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_product_name</name>
        <label>Assign product name</label>
        <locationX>613</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>contractedpricerecord.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContract.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractedpricerecord.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looponproduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractedpricerecord.SBQQ__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>looponproduct.List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractedpricerecord.Legacy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignlistrecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignlistrecord</name>
        <label>Assignlistrecord</label>
        <locationX>374</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>contractedpriceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contractedpricerecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looponproduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProduct</name>
        <label>AssignProduct</label>
        <locationX>1095</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>product2record.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookentryLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>product2record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productloop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProductRectoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>productListrecords</name>
        <label>productListrecords</label>
        <locationX>50</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>productList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>product2record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>updateProductListPrice</name>
        <label>updateProductListPrice</label>
        <locationX>316</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>product2record.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookentryLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Contracted Pricing for all Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contracted Pricing for all Product</label>
    <loops>
        <name>looponproduct</name>
        <label>looponproduct</label>
        <locationX>631</locationX>
        <locationY>226</locationY>
        <collectionReference>productList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_product_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createContractedPrice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>pricebookentryLoop</name>
        <label>pricebookentryLoop</label>
        <locationX>1075</locationX>
        <locationY>620</locationY>
        <collectionReference>getPricebookEntry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatelistpriceonProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>productloop</name>
        <label>productloop</label>
        <locationX>807</locationX>
        <locationY>426</locationY>
        <collectionReference>getAllProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getPricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>looponproduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createContractedPrice</name>
        <label>createContractedPrice</label>
        <locationX>827</locationX>
        <locationY>140</locationY>
        <inputReference>contractedpriceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAllProduct</name>
        <label>getAllProduct</label>
        <locationX>555</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>productloop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>258</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebook</name>
        <label>getPricebook</label>
        <locationX>384</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebookEntry</name>
        <label>getPricebookEntry</label>
        <locationX>1071</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pricebookentryLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productloop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatelistpriceonProduct</name>
        <label>updatelistpriceonProduct</label>
        <locationX>599</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>productloop</targetReference>
        </connector>
        <inputReference>productList</inputReference>
    </recordUpdates>
    <start>
        <locationX>132</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contractedpriceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>contractedpricerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>contractRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>product2record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
