unpackaged/main/default/flows/Opportunity_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email</name>
        <label>Email</label>
        <locationX>486</locationX>
        <locationY>515</locationY>
        <actionName>Opportunity.Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Prior_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_0</name>
        <label>Email</label>
        <locationX>1005</locationX>
        <locationY>400</locationY>
        <actionName>Opportunity.Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prior_Email</name>
        <label>Prior Email</label>
        <locationX>720</locationX>
        <locationY>512</locationY>
        <actionName>Opportunity.Prior_Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PriorOwnerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_prior_owner_value</name>
        <label>Set prior owner value</label>
        <locationX>491</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>PriorOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Login_User</name>
        <label>Check Login User</label>
        <locationX>719</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Login_user_equals_Oppty_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_prior_owner_value</targetReference>
            </connector>
            <label>Login user equals Oppty Owner</label>
        </rules>
    </decisions>
    <formulas>
        <name>Test</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Opportunity Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>610</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>Check_Login_User</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>PriorOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
