unpackaged/main/default/flows/Opportunity_When_Owner_is_changed_to_Non_logged_in_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>One_Step_Email_alert</name>
        <label>One Step Email Alert</label>
        <locationX>696</locationX>
        <locationY>644</locationY>
        <actionName>Opportunity.Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Prior_Value</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Prior_owner</name>
        <label>Prior owner</label>
        <locationX>1229</locationX>
        <locationY>803</locationY>
        <actionName>Opportunity.Prior_Opportunity_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Prior_Value</name>
        <label>Check Prior Value</label>
        <locationX>1000</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Update_Prior_Owner_s_Emails_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_Owner_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prior_Owner_s_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prior_Owner_s_Emails_Address_0</targetReference>
            </connector>
            <label>Prior Owner Email ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_owner_is_logged_in_User</name>
        <label>Check Record owner is logged in User</label>
        <locationX>783</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_owner_is_logged_in_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CASESAFEID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Step_Email_alert</targetReference>
            </connector>
            <label>Record owner is logged in User ?</label>
        </rules>
    </decisions>
    <description>REQ - 2344</description>
    <formulas>
        <name>CASESAFEID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Opportunity : When Owner is changed to Non logged in user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : When Owner is changed to Non logged in user</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Prior_Owner_s_Emails_Address</name>
        <label>Update Prior Owner&#39;s Emails Address</label>
        <locationX>1236</locationX>
        <locationY>561</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prior_Owner_s_Email__c</field>
            <value>
                <elementReference>$Record__Prior.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Owner_s_Emails_Address_0</name>
        <label>Update Prior Owner&#39;s Emails Address</label>
        <locationX>898</locationX>
        <locationY>802</locationY>
        <connector>
            <targetReference>Prior_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prior_Owner_s_Email__c</field>
            <value>
                <elementReference>$Record__Prior.Owner.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Record_owner_is_logged_in_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>priorEamilId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
