unpackaged/main/default/flows/Opportunity_Update_Uses_of_MSA_on_related_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Account_and_MSA_Contract</name>
        <label>Check Account and MSA Contract</label>
        <locationX>477</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_and_MSA_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSA_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSA_Contract__r.Account_Name__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Uses_of_MSA</targetReference>
            </connector>
            <label>Account and MSA Contract</label>
        </rules>
    </decisions>
    <description>REQ - 2279 and REQ - 2384 

When opportunity is created with valid MSA contract than it should update the MSA contract&#39;s Account on the opportunity related account.</description>
    <interviewLabel>Opportunity : Update Uses of MSA on related Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Update Uses of MSA on related Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_on_Uses_of_MSA</name>
        <label>Update Account on Uses of MSA</label>
        <locationX>574</locationX>
        <locationY>608</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Uses_MSA_of__c</field>
            <value>
                <elementReference>$Record.MSA_Contract__r.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Account_and_MSA_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MSA_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
