unpackaged/main/default/flows/Power_Factor_Survey_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invitation</name>
        <label>Send Invitation</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <actionName>Case.When_the_case_is_resolved_then_survey_mail_is_sent_to_contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignSurveySubject</name>
        <label>assignSurveySubject</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>getSurveySubject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSurveySubject.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyInvitationObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSurveySubject.SubjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getSurveySubject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_SurveyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Survey_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Invitation_Assignment</name>
        <label>Survey Invitation Assignment</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SurveyInvitationObject.CommunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Community.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyInvitationObject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_SurveyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyInvitationObject.SurveyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyInvitationObject.OptionsAllowGuestUserResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SurveyInvitationObject.OptionsCollectAnonymousResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Invitation</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formula_SurveyName</name>
        <dataType>String</dataType>
        <expression>&#39;Survey for Case &#39; + {!$Record.CaseNumber}</expression>
    </formulas>
    <interviewLabel>Power Factor Survey Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Power Factor Survey Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation</name>
        <label>Create Survey Invitation</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>assignSurveySubject</targetReference>
        </connector>
        <inputReference>SurveyInvitationObject</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Survey_Subject</name>
        <label>create Survey Subject</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>get_Invitation_Link</targetReference>
        </connector>
        <inputReference>getSurveySubject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Community</name>
        <label>get Community</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Invitation_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Community_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Invitation_Link</name>
        <label>get Invitation Link</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CSAT_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyInvitationObject.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvitationLink</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Survey</name>
        <label>get_Survey</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Survey_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CSAT_Link</name>
        <label>Update CSAT Link</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Send_Invitation</targetReference>
        </connector>
        <inputAssignments>
            <field>CSAT_Survey_Link__c</field>
            <value>
                <elementReference>get_Invitation_Link.InvitationLink</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getSurveySubject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveySubject</objectType>
    </variables>
    <variables>
        <name>SurveyInvitationObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
</Flow>
