unpackaged/main/default/flows/Purchased_Product_Update_Account_Type_based_on_product_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetActivePuchasedProductFlag</name>
        <label>SetActivePuchasedProductFlag</label>
        <locationX>710</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>activeProductFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Purchased_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDecommissionedPuchasedProductFlag</name>
        <label>SetDecommissionedPuchasedProductFlag</label>
        <locationX>696</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>decommissionedProductFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Purchased_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_any</name>
        <label>Check Purchased Product Status</label>
        <locationX>831</locationX>
        <locationY>533</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_OR_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Purchased_Products.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_All_Purchased_Products.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActivePuchasedProductFlag</targetReference>
            </connector>
            <label>Active OR Pending</label>
        </rules>
        <rules>
            <name>Decommissioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_All_Purchased_Products.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decommissioned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDecommissionedPuchasedProductFlag</targetReference>
            </connector>
            <label>Decommissioned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Purchased_Product_Status</name>
        <label>Check Purchased Product Status</label>
        <locationX>427</locationX>
        <locationY>909</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_OR_Pending_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeProductFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_as_Customer</targetReference>
            </connector>
            <label>Active OR Pending Status</label>
        </rules>
        <rules>
            <name>Decommissioned_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decommissionedProductFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_as_Former_Customer</targetReference>
            </connector>
            <label>Decommissioned Status</label>
        </rules>
    </decisions>
    <description>Req-2424</description>
    <interviewLabel>Purchased Product : Update Account Type based on product status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchased Product : Update Account Type based on product status</label>
    <loops>
        <name>Iterate_All_Purchased_Products</name>
        <label>Iterate All Purchased Products</label>
        <locationX>428</locationX>
        <locationY>534</locationY>
        <collectionReference>GetAllPurchasedProductsForAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_any</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAccountCustomerRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountCustomerRecordType</name>
        <label>GetAccountCustomerRecordType</label>
        <locationX>435</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Purchased_Product_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllPurchasedProductsForAccount</name>
        <label>GetAllPurchasedProductsForAccount</label>
        <locationX>420</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Purchased_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchased_Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>If any of purchased product is active OR Pending, the account will change to Customer</description>
        <name>Update_Account_as_Customer</name>
        <label>Update Account as Customer</label>
        <locationX>714</locationX>
        <locationY>907</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetAccountCustomerRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>If any of purchased product is Decommissioned, the account will change to Former Customer</description>
        <name>Update_Account_as_Former_Customer</name>
        <label>Update Account as Former Customer</label>
        <locationX>443</locationX>
        <locationY>1122</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetAccountCustomerRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Former Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAllPurchasedProductsForAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Purchased_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Set this flag to true if status of any pending product is Active OR &quot;Pending Activation&quot;</description>
        <name>activeProductFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This flag will set for Decommissioned purchased products</description>
        <name>decommissionedProductFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
