unpackaged/main/default/flows/SBQQ_Quote_Update_trail_to_true_when_MSA_is_expired_and_unapproved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>MSA_is_Expired_and_Not_Approved</name>
        <label>MSA is Expired and Not Approved</label>
        <locationX>567</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMSA.MSA_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Trial_checkbox</targetReference>
            </connector>
            <label>MSA Expired ??</label>
        </rules>
        <rules>
            <name>No_MSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Trial_checkbox</targetReference>
            </connector>
            <label>No MSA</label>
        </rules>
        <rules>
            <name>MSA_not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMSA.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Trial_checkbox</targetReference>
            </connector>
            <label>MSA not Approved</label>
        </rules>
    </decisions>
    <description>REQ - 2384</description>
    <interviewLabel>SBQQ_Quote : Update trail to true when MSA is expired and unapproved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SBQQ_Quote : Update trail to true when MSA is expired and unapproved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMSA</name>
        <label>getMSA</label>
        <locationX>576</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MSA_is_Expired_and_Not_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.MSA_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Trial_checkbox</name>
        <label>Update Trial checkbox</label>
        <locationX>902</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Trial__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getMSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
